.wrapper {
  display: inline-block;
  padding: 10px 20px;

  background-color: #161630;
  color: white;

  border: 1px solid white;
  border-radius: 10px;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper.cloaked {
  cursor: unset;
}

.wrapper:not(.disabled):not(.cloaked):hover {
  background-color: #c29509;
}

.wrapper.disabled {
  cursor: not-allowed;
  background-color: #a2a2a2;
}
