.wrapper {
  position: fixed;
  padding: 10px 60px;
  right: 0px;
  top: 100px;

  color: white;
  font-size: 1.2rem;

  background-image: url('../../assets/text-background-default.svg');
  background-size: 200% 100%;

  z-index: 500;
}

@media (max-width: 1080px) {
  .wrapper {
    position: unset;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    text-align: center;
  }
}
