.wrapper {
  display: table;

  background-image: url('../../assets/text-background-default.svg');
  background-size: 100% 100%;

  min-height: 100px;
  width: 100%;

  font-size: 1.2rem;

  text-align: center;
}

.text {
  display: table-cell;

  color: white;
  line-height: 200%;

  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15px;
  padding-bottom: 20px;

  width: 100%;

  vertical-align: middle;
}
