.wrapper {
  display: table;

  background-image: url('../../assets/text-background-default.svg');
  background-size: 100% 100%;

  min-height: 80px;
  width: 100%;

  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper:not(.disabled):hover {
  cursor: pointer;
  background-image: url('../../assets/text-background-selected.svg');
  opacity: 0.9;
}

.wrapper.selected.blink {
  -webkit-animation: blinkSelected 2s;
  -moz-animation: blinkSelected 2s;
  -o-animation: blinkSelected 2s;
  animation: blinkSelected 2s;
}

.wrapper:not(.selected).blink {
  -webkit-animation: blinkUnselected 2s;
  -moz-animation: blinkUnselected 2s;
  -o-animation: blinkUnselected 2s;
  animation: blinkUnselected 2s;
}

.wrapper.correct,
.wrapper.selected.correct {
  background-image: url('../../assets/text-background-correct.svg');
}

.wrapper.selected {
  background-image: url('../../assets/text-background-selected.svg');
}

.text {
  display: table-cell;

  color: white;
  font-size: 1.2rem;
  line-height: 200%;

  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15px;
  padding-bottom: 20px;

  vertical-align: middle;
}

@keyframes blinkUnselected {
  0%,
  30%,
  60%,
  90% {
    background-image: url('../../assets/text-background-default.svg');
  }
  15%,
  45%,
  75%,
  100% {
    background-image: url('../../assets/text-background-correct.svg');
  }
}

@keyframes blinkSelected {
  0%,
  30%,
  60%,
  90% {
    background-image: url('../../assets/text-background-selected.svg');
  }
  15%,
  45%,
  75%,
  100% {
    background-image: url('../../assets/text-background-correct.svg');
  }
}
