.wrapper {
  display: table;

  background-image: url('../../assets/text-background-default.svg');
  background-size: 100% 100%;

  min-height: 80px;
  width: 100%;

  text-align: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.wrapper:not(.disabled):hover {
  cursor: pointer;
  background-image: url('../../assets/text-background-selected.svg');
  opacity: 0.9;
}

.wrapper.selected.blink {
  -webkit-animation: blinkSelected 2s; /* Safari 4+ */
  -moz-animation: blinkSelected 2s; /* Fx 5+ */
  -o-animation: blinkSelected 2s; /* Opera 12+ */
  animation: blinkSelected 2s; /* IE 10+, Fx 29+ */
}

.wrapper:not(.selected).blink {
  -webkit-animation: blinkUnselected 2s; /* Safari 4+ */
  -moz-animation: blinkUnselected 2s; /* Fx 5+ */
  -o-animation: blinkUnselected 2s; /* Opera 12+ */
  animation: blinkUnselected 2s; /* IE 10+, Fx 29+ */
}

.wrapper.correct,
.wrapper.selected.correct {
  background-image: url('../../assets/text-background-correct.svg');
}

.wrapper.selected {
  background-image: url('../../assets/text-background-selected.svg');
}

.text {
  display: table-cell;

  color: white;
  font-size: 1.2rem;
  line-height: 200%;

  padding-left: 15%;
  padding-right: 15%;
  padding-top: 15px;
  padding-bottom: 20px;

  vertical-align: middle;
}

@keyframes blinkUnselected {
  0%,
  30%,
  60%,
  90% {
    background-image: url('../../assets/text-background-default.svg');
  }
  15%,
  45%,
  75%,
  100% {
    background-image: url('../../assets/text-background-correct.svg');
  }
}

@keyframes blinkSelected {
  0%,
  30%,
  60%,
  90% {
    background-image: url('../../assets/text-background-selected.svg');
  }
  15%,
  45%,
  75%,
  100% {
    background-image: url('../../assets/text-background-correct.svg');
  }
}
